* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: white;
}


.link {
    background-color: black;
    position: relative;
    color: white;
    right: 20px;
}

.disable{
   
}

